<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS AND STYLE REFERENCES -->
    <link rel="stylesheet" href="../Public/css/signin.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Sign In</title>
</head>
<body>
    <section class="main-sect">
        <div class="main-container">
            <form action="" class="signup">
                <div class="username form-div">  <h2 class="h2 title">Login</h2>
                <label for="email" class="email-l label">Email</label>
                <input type="email" class="email-i input" name="email">
                <label for="passw" class="pass-l label">Password</label>
                <input type="password" class="pass-i input" name="passw">
                <button type="submit" class="signup-btn regist">Create</button>
                <h2 class="h2 or">OR</h2>
                <button type="submit" class="signup-btn google">Continue with Google</button>
            </div>
            </form>
        </div>
    </section>
</body>
</html>