@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Mono:wght@400;500;700&family=Mrs+Sheppards&display=swap');

* {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

section {
    width: 100vw;
    height: 100vh;
    /* background-image: url(../img/minimal-pink-podium-and-scene-with-3d-render-in-abstract-abackground-composition-3d-illustration-mock-up-scene-geometry-shape-platform-forms-for-product-display-stage-for-product-in-modern-free-vector.jpg);
    background-position: center; */
}

section {
    display: grid;
    justify-content: center;
    align-items: center;
}

.signup {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 400px;
}

.main-container {
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    border-radius: 15px;
    height: 600px;
    width: 400px;
}

.form-div {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100px;
    margin-bottom: 350px;
}

.input {
    width: 330px;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid gray;
}

.label {
    font-size: 14px;
}

.signup-btn {
    width: 330px;
    height: 45px;
    border: none;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 500;
}

.regist {
    margin-top: 15px;
    color: white;
    background-color: #adb5bd;
}

.google {
    border: 1px solid gray;
    color: #000;
    background-color: white;
}

.h2 {
    display: grid;
    justify-content: center;
    align-items: center;
}

.or {
    font-size: 16px;
    font-weight: 500;
}

/* Media Queries */
@media (max-width: 600px) {
    .main-container {
        margin-left: 18px;
        border: none;
        max-width: 90%;
        
    }

    .input, .signup-btn {
        max-width: 100%;
    }
}